<!-- <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MBTI Form</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel = "icon" href = "static/images/notreq/login.png" type = "image/x-icon">
</head>
<body>

	<form class="box" action="/result" method="POST">
		<h1>Enter the text</h1>
		<input type="text" name="input" placeholder="Enter your text">
		<input type="submit" name="" value="Predict">
	</form>

</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MBTI Form</title>
	<!-- <link rel="stylesheet" href="/static/style.css">
	<link rel = "icon" href = "static/images/notreq/login.png" type = "image/x-icon">  -->
</head>
<body style="margin:0; background-color: antiquewhite; height: 100%; overflow: hidden; ">
    <div style="width:400px;height:400px;background-color:#f5f5f5;color:black;margin:100px auto;font-size:10px;box-shadow:3px 5px 5px 5px #ccc";>
	    <form class="box" action="/result" method="POST">
		    <h3 style="font-size:30px;padding-top:40px;text-align:center;color:black;";>ENTER THE TEXT</h3>
		    <textarea name="input" placeholder="Enter your text" style="width:80%;height:150px;font-size:12px;border:1px black solid; border-radius:5px 5px 5px 5px;margin-left:10%";></textarea><br/>
		    <br/><input type="submit" name="" value="PREDICT" style="margin-top:10px;width:80%;padding:10px;border:none;outline:none;background:#00acee;color:#f5f5f5;border-radius:5px 5px 5px 5px;margin-left:10%";>
	    </form>
    </div>
</body>
</html>
